<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html" data-ng-app="RecipeManagementServiceApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="The web-site of Recipe Management Service">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Alper Kaan YILDIZ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management Service</title>
</head>

<body data-ng-controller="recipeController">



<script type="text/javascript">
    var app = angular.module("RecipeManagementServiceApp", []);
    app.controller('recipeController', function ($scope){
       $scope.recipes = [

       ];

       $scope.del = function (id) {
           var confirmation = confirm("Delete recipe?");
           if(confirmation) {
               var index = getSelectedIndex(id);
               $scope.recipes.splice(index, 1);
           }
       };

       $scope.selectEdit = function (id) {
           var index = getSelectedIndex(id);
           var recipe = $scope.recipes[index];
           $scope.id = recipe.id;
           $scope.description = recipe.description;
           $scope.tag = recipe.tag;
           $scope.picture = recipe.picture;


       };

       $scope.add = function () {
           $scope.recipes.push({
              id: $scope.id,
              description: $scope.description,
              tag: $scope.tag,
              picture: $scope.picture
           });

           $scope.id = '';
           $scope.description = '';
           $scope.tag = '';
           $scope.picture = '';

       };

       $scope.edit = function () {
           var index = getSelectedIndex($scope.id);
           $scope.recipes[index].description = $scope.description;
           $scope.recipes[index].tag = $scope.tag;
           $scope.recipes[index].picture = $scope.picture;

       };

       function getSelectedIndex(id) {
           for(var i=0; i<$scope.recipes.length; i++)
               if($scope.recipes[i].id == id)
                   return i;
               return -1;
       }

    });
</script>

        <table border="1">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Picture</th>
            <th><img src="images/delete.jpeg" alt="logo" width="auto" height="50px">Delete</th>
            <th><img src="images/edit.jpeg" alt="logo" width="50px" height="50px">Edit</th>
        </tr>
        <tr data-ng-repeat="recipe in recipes">
            <td>{{recipe.id}}</td>
            <td>{{recipe.description}}</td>
            <td>{{recipe.tag}}</td>
            <td>{{recipe.picture}}</td>
            <td><a href="#" data-ng-click="del(recipe.id)">Delete</a></td>
            <td><a href="#" data-ng-click="selectEdit(recipe.id)">Edit</a></td>
        </tr>
    </table>



<div>
    <h1 style="text-align: center">Recipe</h1></div>
<table border="2" align="center">
    <tr>
        <td>Id</td>
        <td><input type="text" data-ng-model="id"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input type="text" data-ng-model="description"></td>
    </tr>
    <tr>
        <td>Tag</td>
        <td><input type="text" data-ng-model="tag"></td>
    </tr>
    <tr>
        <td>Picture</td>
        <td><input type="text" data-ng-model="picture"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="button" value="Add" data-ng-click="add()">
            <input type="button" value="Save" data-ng-click="edit()">
        </td>

    </tr>
</table>
</body>





