body h1, h2, h3, h4, h5, h6 {
    /* Responsive text */
    /* Create a good responsive style sheet! */
    /* Or using BootStrap */
    font-size: 10vw;
}

body p{
    font-size: 5vw;
}


li{
    float: left;
    list-style-type: none;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover{
    background-color: red;
}
a:link, a:visited{
    color: rebeccapurple;
    font-size: 25px;
    padding: 10px 15px;
    background-color: forestgreen;
    text-decoration: none;
    border: 1px solid greenyellow;
    display: inline-block;
}
