<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
    <title>Add Recipe</title>
</head>
<body>
<nav role="navigation">
    <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="/recipes">Recipes</a></li>
    </ul>
</nav>


<form th:action="@{/recipes}" th:object="${recipeForm}" th:method="post">
    <table class="table">
        <tr>
            <td>Recipe Name:</td>
            <td><input type="text" th:field="*{recipeName}" /></td>
        </tr>
        <tr>
            <td>Recipe Description:</td>
            <td><input type="text" th:field="*{recipeDesc}" /></td>
        </tr>
        <tr>
            <td>Recipe Tag:</td>
            <td><input type="text" th:field="*{recipeTag}" /></td>
        </tr>
        <tr>
            <td>Recipe Image:</td>
            <td><input type="text" th:field="*{recipeImage}" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-primary">Add</button></td>
        </tr>
    </table>
</form>
</body>
</html>