<!DOCTYPE html>
<html xmlns="
http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="
http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
    <title>Recipes</title>
</head>

<body>

    <nav role="navigation">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="/recipes/add">Add recipe</a></li>
        </ul>
    </nav>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Image</th>
            <th>Assign</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
                <td><a th:href="@{/recipes/} + ${recipe.id}" th:text="${recipe.name}">RecipeName</a></td>

                <td th:text="${recipe.description}">Recipe description will appear here</td>
                <td th:text="${recipe.tag}">Recipe tag will appear here</td>
                <td th:text="${recipe.image}">Recipe image will appear here</td>
                <td>
                        <form th:action="@{/recipes/} + ${recipe.id}" th:method="put">
                            <select class="custom-select" th:field="*{assignForm.username}">
                                <option th:each="username : ${usernames}" th:value="${username}" th:text="${username}">Username
                                    will appear here
                                </option>
                            </select>
                            <button class="btn btn-primary" type="submit">Assign</button>
                        </form>
                    </td>
            <td>
                <form th:action="@{/recipes/edit/} + ${recipe.id}" th:method="get">
                    <button class="btn btn-success" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form th:action="@{/recipes/} + ${recipe.id}" th:method="delete">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>



        </tr>
    </table>
</body>

</html>
