<!DOCTYPE html>
<html xmlns="
http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="
http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<head>
    <title>User Registration</title>
</head>

<body>
    <nav role="navigation">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="/">Home</a></li>
        </ul>
    </nav>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <table class="table">
            <tr>
                <td> User Name:</td>
                <td><input class="form-control" type="text" th:field="*{username}" /></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
            <td th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input  class="form-control" type="password" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input class="form-control" type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input class="form-control" type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>