<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Add Recipe</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
    </ul>
</nav>

<form th:action="@{/recipes/search}" th:object="${myFormObject}" method="get">

            <td><input type="text" th:value="*{searchName}"/></td>
            <button class="md-btn md-fab m-b-sm indigo"><i class="material-icons md-24">&#xe8b6;</i></button>

</form>
</body>
</html>