<!DOCTYPE html>
<html xmlns="
http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="
http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<head>
    <title>Users</title>
</head>

<body>
    <nav role="navigation">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="/">Home</a></li>
            <li class="list-group-item"><a href="/recipes">Recipes</a></li>
            <li class="list-group-item"><a href="/register">Register</a></li>
        </ul>
    </nav>
    <table class="table">
        <tr>
            <th>User name</th>
            <th>Name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="user : ${users}">
            <td><a th:href="@{/users/} + ${user.id} + @{/recipes}" th:text="${user.username}">Username</a></td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.lastName}">Last Name</td>
        </tr>
    </table>
</body>

</html>