<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.recipeService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Description</label>
        <input formControlName="description" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.description.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.description.errors">
          Recipe description is required.
        </div>
      </div>
      <div class="form-group">
          <label>Tag</label>
          <input formControlName="tag" class="form-control" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.tag.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.tag.errors">
              Recipe tag is required.
            </div>
        </div>
        <div class="form-group">
            <label>Picture</label>
            <input formControlName="picture" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.picture.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.picture.errors">
                You must upload picture(s) of recipe.
              </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit Recipe">
          </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Uploaded recipe!
    </div>
  </div>
  <div class="col-md-7">
    <app-recipe-list></app-recipe-list>
  </div>
</div>